.card-clothe {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-clothe h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-clothe p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-clothe .card-clothe-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-clothe-infos .card-clothe-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 103px;
}
