<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.greenbiz.com/sites/default/files/images/articles/featured/rentclothes.png);">
  <div class="container">
    <h1>Rent <strong>clothes</strong> and <strong>travel without luggage</strong></h1>
    <p>Change your way of travelling and dressing</p>
    <a class="btn btn-rent" href="/clothes">Rent now</a>
  </div>
</div>

<div class="container-home">
  <h2>Are you ready to explore new possibilities of travelling ?</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis sapiente eligendi aliquam sint ab quidem necessitatibus eaque, repellendus libero labore illo optio, quam dicta magnam numquam quia ullam laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quas sint asperiores corporis? Nobis illo dolor tenetur, laboriosam facere beatae, tempora id voluptatibus, natus deleniti quas. Mollitia necessitatibus consequatur explicabo!Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis sapiente eligendi aliquam sint ab quidem necessitatibus eaque, repellendus libero labore illo optio, quam dicta magnam numquam quia ullam laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatibus, natus deleniti quas. Mollitia necessitatibus consequatur explicabo!</p>
</div>

<div class="container-home2">
  <h2>Who are we ?</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis sapiente eligendi aliquam sint ab quidem necessitatibus eaque, repellendus libero labore illo optio, quam dicta magnam numquam quia ullam laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quas sint asperiores corporis? Nobis illo dolor tenetur, laboriosam facere beatae, tempora id voluptatibus, natus deleniti quas. Mollitia necessitatibus consequatur explicabo!Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis sapiente eligendi aliquam sint ab quidem necessitatibus eaque, repellendus libero labore illo optio, quam dicta magnam numquam quia ullam laudantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptatibus, natus deleniti quas. Mollitia necessitatibus consequatur explicabo!</p>
</div>
