<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.guim.co.uk/img/media/746d85eb450c911eca54abf4c1a1eb8afa4e9f07/163_74_2704_1622/master/2704.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=a46baeb1721d50e1ff79f2cff598695f);">
<% unless user_signed_in? %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link-home" %>
  </li>
<% end %>
  <div class="container">
    <h1>Rent clothes and travel without luggage</h1>
    <p>Change your way of <strong>travelling</strong> and <strong>dressing</strong></p>
    <a class="btn btn-rent" href="/clothes">Rent Clothes</a>
  </div>
</div>
