.row-product{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_clothes{
  padding-top: 70px;
  position:relative;

}
.img-card-product{
  object-fit: cover;
}

.col{
  margin-top: 20px;
}


.row-clothes{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card-clothe{
  margin-top: 40px;
}

.btn-new{
  color: white;
  padding: 5px 30px;
  border-radius: 50px;
  font-weight: bold;
  background: linear-gradient($sky, $sky);
  transition: background 0.3s ease;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  position: absolute;
  right: 110px;
}


.btn-new:hover {
  background: linear-gradient($sky, #ccdfed);
  color: white;
  border-color: white;
}
