.row-product{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-card-product{
  object-fit: cover;
}

.col{
  margin-top: 20px;
}


.row-clothes{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.card-clothe{
  margin-top: 40px;
}
